/*
/*/
/electron-ssr/GPUCache/
/nvim/after
/nvim/autoload
/nvim/colors
/nvim/ftplugin
/nvim/plugged
/nvim/sessions
/nvim/syntax


!.gitignore
!/nvim/
!/i3/
!/t2ec/
!/tint2/
!/MyScript/
!/fcitx5/
!/picom/
!/ranger/
!/zathura/
!/alacritty/
!/kitty/
!/libinput-gestures.conf
!.zshrc
